<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="course" class="com.pack.beans.Course">
	<!--<constructor-arg value="Babu"/>  
	<constructor-arg value="61600"/>
	<constructor-arg value="Java"/>
	<constructor-arg value="35000"/> -->
	
	
	<constructor-arg value="616000" type="String" index="1"/>
	<constructor-arg value="Babu" type="String" index="0"/>
	
	
</bean>
</beans>